.canvasMap {
	margin: 0;
	padding: 0;
	position: relative;
}

.canvasMap canvas {
	display: block;
}

.canvasMap canvas.interaction {
	position: absolute;
	top: 0;
	left: 0;
}

.canvasMap svg {
	position: absolute;
	top: 0;
	left: 0;
}

.canvasMap svg path {
	fill: none;
	stroke: #000;
}
